.DS_Store
DerivedData
DPMultiColorPicker.xcodeproj/xcuserdata/*
DPMultiColorPicker.xcodeproj/project.xcworkspace/xcuserdata/*
DPMultiColorPicker.xcodeproj/project.pbxproj.mergesave
DPMultiColorPicker.xcodeproj/kostas.mode1v3
DPMultiColorPicker.xcodeproj/kostas.pbxuser